#root {
  width: 100%;
  box-sizing: border-box;
}

.display {
  width: auto;
  border: none;
  direction: rtl;
  padding: 20px 10px;
  background: gray;
  color: #fff;
  font-size: 2rem;
}

.calculatorMain {
  margin: 100px auto 0 auto;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.container {
  width: 500px;
  height: 500px;
  border: #a09292 solid 1px;
}
